{%  extends 'datamad2/base.html' %}
{% load staticfiles cookielaw_tags i18n fwtheme_tags %}
{% load lead_grant  %}
{% is_container_fluid as container_fluid %}

{%  block content %}
    {% block page_special %}
    {% endblock %}

    {% block head_js_extra %}
    {% endblock head_js_extra %}

    {# To make content occupy full width, override the block page_container #}
    {# with one of the same name which OMITS the div class=container tag #}

    {% block page_container %}

        <div class="container{% if container_fluid %}-fluid{% endif %}">

            {% block content_main %}
                {% block content_header %}

                    <div class="page-header" id="banner">
                    <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2">
                    {% block page_title %}
                        <div class="wrapper">
                        <!-- Sidebar -->
                        <nav id="sidebar">
                        <div class="sidebar-header">
                        </div>
                        <ul class="list-unstyled components">
                        </ul>
                        </nav>
                        </div>
                    {% endblock %}
                    </div>
                    <div class="col">
                        <h3>New Data Product</h3>
                    <table>
                        <form method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-primary" id="claim">Save</button>
                        </form>
                        {%  if dataproduct.pk %}
                        <form action="{%  url 'dataproduct_delete' pk=dataproduct.pk %}" method="post">
                            {% csrf_token %}
                        <button type="submit" class="btn btn-primary" id="claim">Delete</button>
                        {%  endif %}
                        </form>
                    </table>
                    </div>

                {% endblock content_header %}
            {% endblock content_main %}
            </div>
            </div>
        </div>
    {% endblock page_container %}
{%  endblock %}


