{%  extends 'datamad2/base.html' %}
{% load staticfiles cookielaw_tags i18n fwtheme_tags %}
{% load lead_grant  %}
{% is_container_fluid as container_fluid %}

{%  block content %}
    {% block page_special %}
    {% endblock %}

    {% block head_js_extra %}
    {% endblock head_js_extra %}

    {# To make content occupy full width, override the block page_container #}
    {# with one of the same name which OMITS the div class=container tag #}

    {% block page_container %}

        <div class="container{% if container_fluid %}-fluid{% endif %}">

            {% block content_main %}
                {% block content_header %}

                    <div class="page-header" id="banner">
                    <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2">
                    {% block page_title %}
                        <div class="wrapper">
                        <!-- Sidebar -->
                        <nav id="sidebar">
                        <div class="sidebar-header">
                            <h3>DMP</h3>
                        </div>
                        <ul class="list-unstyled components">
                        <h4>Projects</h4>
                        </ul>
                        </nav>
                        </div>
                    {% endblock %}
                </div>
                    <div class="col">
                        <table class="row-border" id="grants" style="width:100%">
                            <thead>
                            <tr>
                                <th>Title</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Initial Contact</th>
                                <th>DMP Agreed</th>
                                <th>Status</th>
                                <th>Project Status</th>
                                <th>NDATA</th>
                                <th>SciSupContact</th>
                                <th>Grant Links</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for project in projects %}
{#                                {%  with grant=project.grant_set.all.first %}#}
{#                                    {%  for grant in grants %}#}
{#                                        {% if grant|lead %}#}
                                    <tr>
                                        <td>
                                            <a href="{% url 'project_detail' pk=project.pk %}">
                                            {{ project.title }}
                                            </a>
                                        </td>
                                        <td>
                                            {{ project.startdate }}
                                        </td>
                                        <td>
                                            {{ project.enddate }}
                                        </td>
                                        <td>
                                            {{ project.initial_contact }}
                                        </td>
                                        <td>
                                            {{ project.dmp_agreed }}
                                        </td>
                                        <td>
                                            {{ project.status }}
                                        </td>
                                        <td>
                                            {{ project.project_status }}
                                        </td>
                                        <td>

                                        </td>
                                        <td>
                                            {{ project.sciSupContact }}
                                        </td>
                                        <td >
                                            {%  with grants=project.grant_set.all %}
                                                {%  for grant in grants %}
                                                    {% if grant|lead %}

                                                        <a id="lead" title='Lead Grant' data-toggle='tooltip' href="{% url 'grant_detail' pk=grant.importedgrant_set.first.pk %}">
                                                            {{  grant.grant_ref|linebreaks }} <!-- link to lead grant-->
                                                        </a>

                                                    {% else %}

                                                        <a href="{% url 'grant_detail' pk=grant.importedgrant_set.first.pk %}">
                                                            {{  grant.grant_ref|linebreaks }} <!-- link to lead grant-->
                                                        </a>

                                                    {%  endif %}
                                                {%  endfor %}
                                            {%  endwith %}
                                        </td>
                                    </tr>
                                {#                                    {%  endif %}#}
                                {#                                    {%  endfor %}#}
{#                                {%  endwith %}#}
                            {%  endfor %}
                            </tbody>
                        </table>
                    </div>

                {% endblock content_header %}
            {% endblock content_main %}
            </div>
            </div>
        </div>
    {% endblock page_container %}
{%  endblock %}


