{% extends 'datamad2/user_account/my_account.html' %}
{% load crispy_forms_tags %}

{% block breadcrumb_items %}
    <li class="breadcrumb-item"><a href="{% url 'grant_list' %}">Home</a></li>
    <li class="breadcrumb-item active">User Preferences</li>
{% endblock breadcrumb_items %}

{% block content %}
    <div class="col">
        <h4>Preferred Filters</h4>
        <p>Select your preferred filters to show with the grant lists.</p>
        <p>All filters will be available but non-preferred filters will be hidden unless requested</p>
        <div class="row">
            <div class="col">
                {% crispy form %}
            </div>
        </div>
    </div>
{% endblock content %}
