{% extends 'datamad2/user_account/my_account.html' %}
{% load crispy_forms_tags %}

{% block breadcrumb_items %}
    <li class="breadcrumb-item"><a href="{% url 'grant_list' %}">Home</a></li>
    <li class="breadcrumb-item active">Datacentre</li>
{% endblock breadcrumb_items %}

{% block content %}
    <div class="col">
        <h4>Datacentre Specific Options</h4>
        <div class="row">
            <div class="col">
                {% crispy form %}
            </div>
        </div>
    </div>
{% endblock content %}
