{% extends 'datamad2/user_account/my_account.html' %}
{% load crispy_forms_tags %}

{% block breadcrumb_items %}
    <li class="breadcrumb-item"><a href="{% url 'grant_list' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'datacentre' %}">Datacentre</a></li>
    <li class="breadcrumb-item"><a href="{% url 'users' %}">{{ user.data_centre }} Users</a></li>
    <li class="breadcrumb-item active">Add New User</li>
{% endblock breadcrumb_items %}


{% block content %}
    <div class="col">
        <h4>Add New User</h4>
        <div class="row">
            <div class="col">
                {% crispy form %}
            </div>
        </div>
    </div>
{% endblock content %}