{% load claim_status %}

{% if imported_grant.grant.assigned_data_centre == user.data_centre or not imported_grant.grant.claimed %}

    <a class="btn btn-primary float-right" id="claim-button"
       href="{% url 'change_claim' pk=imported_grant.grant.pk %}">
        REASSIGN
    </a>
    <a class="btn btn-primary float-right mr-1" id="claim-button"
       href="{% url 'toggle_claim' pk=imported_grant.grant.pk %}?next={{ request.path }}">
        {{ imported_grant.grant.claimed | claim_status }}
    </a>

{% endif %}
