<a class="nav-link {% if assignee == 'all' %}active{% endif %}" href="{% url 'grant_list' %}?datacentre=all">All</a>
<a class="nav-link {% if assignee == 'unassigned' %}active{% endif %}" href="{% url 'grant_list' %}?datacentre=unassigned">Unassigned</a>
<a class="nav-link {% if assignee == 'BODC' %}active{% endif %}" href="{% url 'grant_list' %}?datacentre=BODC">BODC</a>
<a class="nav-link {% if assignee == 'CEDA' %}active{% endif %}" href="{% url 'grant_list' %}?datacentre=CEDA">CEDA</a>
<a class="nav-link {% if assignee == 'EIDC' %}active{% endif %}" href="{% url 'grant_list' %}?datacentre=EIDC">EIDC</a>
<a class="nav-link {% if assignee == 'NGDC' %}active{% endif %}" href="{% url 'grant_list' %}?datacentre=NGDC">NGDC</a>
<a class="nav-link {% if assignee == 'PDC' %}active{% endif %}" href="{% url 'grant_list' %}?datacentre=PDC">PDC</a>
<a class="nav-link {% if assignee == 'ADS' %}active{% endif %}" href="{% url 'grant_list' %}?datacentre=ADS">ADS</a>

