<table class="table-responsive" id="grant-docs">
    {% for doc in doc_list %}
        <tr>
            <td>
                {% if doc %}
                    <a href="{{ doc.upload.url }}"
                       download="{{ doc.download_title }}"><i class="fas fa-file"></i> {{ doc.title }} </a>
                    {% if user.is_admin %}
                        <a title='Delete' data-toggle='tooltip'
                           href="{% url 'delete_file' pk=doc.pk %}">
                            &nbsp;<i class="fa fa-times confirm text-danger"></i>
                        </a>
                    {% endif %}
                    <br>
                    {% if doc.tags %}
                        {% for tag in doc.get_tags %}
                            <span class="badge badge-info">{{ tag }}</span>
                        {% endfor %}
                        <br>
                    {% endif %}
                    <small class="text-secondary">{{ doc.last_modified }}</small>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>