<div class="text-muted">
    <p>
        File names must follow the format:
    </p>
    <p>
        GRANT REFERENCE (underscore separated) DOC TYPE
        <br>
        e.g. NE_T000619_1 DMP.pdf
    </p>
    <p>
        Document types used are:
    </p>
    <ul>
        <li>
            DMP - Outline data management plan
        </li>
        <li>
            CFS - Case for support
        </li>
        <li>
            TA - Technical appraisal
        </li>
        <li>
            JOR - Justification of resources
        </li>
        <li>
            PROFORMA - Grant proposal
        </li>
    </ul>
</div>