{% extends 'fwtheme_django/layout.html' %}

{% load static %}


{% block head_title %}Grants{% endblock %}

{% block stylesheets %}
    <!-- Bootstrap Core
    CSS -->
    <link rel="stylesheet"
          href="{% static 'orgtheme/4/flatly/bootstrap.css' %}"
          media="screen">
    <!-- Custom CSS -->
    <!-- customisations of vanilla bootstrap by the bootswatch variant we're using (output from Bootswatch) -->
    <link rel="stylesheet" href="{% static 'orgtheme/_assets/css/custom.min.css' %}">
    <!-- customisations of the above, to separate own customisations from Bootswatch's -->
    <link rel="stylesheet" href="{% static "fwtheme_django/css/fw-custom.css" %}">
    <!-- organisation customisations go here (blank in this case, over-ridden by each fwtheme-django-ORG theme) -->
    <link rel="stylesheet" href="{% static 'orgtheme/_assets/css/org-custom.css' %}">

    {# some customisations go here before org theme styling #}
    {% block stylesheets_pre_extra %}
        <link rel="shortcut icon" href="https://nerc.ukri.org/nerc/includes/themes/MasterSite/images/favicon.ico">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
        <link href="{% static "css/grants.css" %}" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    {% endblock stylesheets_pre_extra %}

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    {# most further customisations can go here, after org theme styling #}
    {% block stylesheets_extra %}{% endblock %}

{% endblock stylesheets %}

{% block head_js %}
    {{ block.super }}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Help Beacon -->
    {% include 'datamad2/includes/help_beacon.html' %}

{% endblock head_js %}

{% block navbar_branding %}
    <a href="https://nerc.ukri.org/" class="navbar-brand">
        <img src="{% static 'images/UKRI_NER_Council-Logo_Horiz-RGB[W].png' %}" alt="NERC logo">
    </a>
{% endblock %}

{% block navigation %}
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mx-auto">
            {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="grantFilterDropdown" role="button"
                       data-toggle="dropdown">
                        Grants
                    </a>
                    <div class="dropdown-menu" aria-labelledby="grantFilterDropdown">
                        <a class="dropdown-item" href="{% url 'grant_list' %}">All</a>
                        <a class="dropdown-item"
                           href="{% url 'grant_list' %}?selected_facets=assigned_datacentre:Unassigned">Unassigned</a>
                        <a class="dropdown-item"
                           href="{% url 'grant_list' %}?selected_facets=assigned_datacentre:BODC">BODC</a>
                        <a class="dropdown-item"
                           href="{% url 'grant_list' %}?selected_facets=assigned_datacentre:CEDA">CEDA</a>
                        <a class="dropdown-item"
                           href="{% url 'grant_list' %}?selected_facets=assigned_datacentre:EIDC">EIDC</a>
                        <a class="dropdown-item"
                           href="{% url 'grant_list' %}?selected_facets=assigned_datacentre:NGDC">NGDC</a>
                        <a class="dropdown-item"
                           href="{% url 'grant_list' %}?selected_facets=assigned_datacentre:PDC">PDC</a>
                        <a class="dropdown-item"
                           href="{% url 'grant_list' %}?selected_facets=assigned_datacentre:ADS">ADS</a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link"
                       href="{% url 'grant_list' %}?selected_facets=assigned_datacentre:{{ user.data_centre.name }}">{{ user.data_centre.name }}
                        Grants</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'multi_document_upload' %}">Upload Documents</a>
                </li>
            {% endif %}
        </ul>
    </div>
{% endblock navigation %}

{% block user_status %}
    <ul class="navbar-nav">
        {% if user.is_authenticated %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class='fa fa-user-alt'></i>&nbsp;{{ user.first_name }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'my_account' %}"><i
                            class='fa fa-user-alt'></i>&nbsp;Account</a>
                    <a class="dropdown-item" href="{% url 'preferences' %}"><i class="fas fa-cog"></i>&nbsp;Preferences</a>
                    {% if user.is_admin %}
                        <a class="dropdown-item" href="{% url 'datacentre' %}"><i class="fas fa-database"></i>&nbsp;Datacentre</a>
                    {% endif %}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="https://cedadev.github.io/datamad2" target="_blank"><i class="fas fa-book"></i>&nbsp;User Guide</a>
                    <a class="dropdown-item" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i>&nbsp;Logout</a>
                </div>
            </li>
        {% else %}
            <a class="nav-link" href="{% url 'login' %}"><i class='fa fa-user-alt'></i>&nbsp;Login</a>
        {% endif %}
    </ul>
{% endblock user_status %}

{% block page_container %}
    <div class="container{% if containerfluid %}-fluid m-4{% endif %}">
        {% block content_main %}
            {% block content_header %}
                <div class="row">
                    <div class="col">
                        {% block page_title %}
                            <h3>DataMad</h3>
                        {% endblock page_title %}
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col">
                        <nav aria-label="breadcrumb">
                            {% block breadcrumbs %}
                                <ol class="breadcrumb">
                                    {% block breadcrumb_items %}
                                        <li class="breadcrumb-item"><a href="{% url 'grant_list' %}">Home</a></li>
                                    {% endblock breadcrumb_items %}
                                </ol>
                            {% endblock breadcrumbs %}
                        </nav>
                    </div>
                </div>
                {% block info_panel %}
                    <div class="row mb-4">
                        <div class="col">
                            {% block notifications %}
                                {% if messages %}
                                    {% for message in messages %}
                                        {% if 'success' in message.tags %}
                                            <div class="alert alert-with-icon alert-success" role="alert">
                                                <i class="fa fa-check-circle"></i> <span>{{ message }}</span>
                                            </div>
                                        {% elif 'error' in message.tags %}
                                            <div class="alert alert-with-icon alert-danger" role="alert">
                                                <i class="fa fa-exclamation-circle"></i> <span>{{ message }}</span>
                                            </div>
                                        {% elif 'warning' in message.tags %}
                                            <div class="alert alert-with-icon alert-warning" role="alert">
                                                <i class="fa fa-exclamation-triangle"></i> <span>{{ message }}</span>
                                            </div>
                                        {% else %}
                                            <div class="alert alert-with-icon alert-info" role="alert">
                                                <i class="fa fa-info-circle"></i> <span>{{ message }}</span>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endblock notifications %}
                        </div>
                    </div>
                {% endblock info_panel %}
            {% endblock content_header %}
            {% block content_panel %}
                <div class="row flex-xl-nowrap">
                    {% block sidebar %}
                    {% endblock sidebar %}
                    {% block content %}
                    {% endblock content %}
                    {% block rightsidebar %}
                    {% endblock rightsidebar %}
                </div>
            {% endblock content_panel %}
        {% endblock content_main %}

    </div>
{% endblock page_container %}


{% block footer %}
    <footer>
        <div class="container">
            <div class="row d-flex justify-content-around border border-light border-bottom-0 border-left-0 border-right-0 pt-5 pb-2 mt-5">
                <div class="col-md-4">
                    <p class="text-center small">
                        Copyright © 2018 <a href="http://www.stfc.ac.uk">STFC</a>
                        All Rights Reserved<br>
                        <a href="http://www.ceda.ac.uk/accessibility" target="_blank">Accessibility</a> |
                        <a href="http://www.ceda.ac.uk/disclaimer" target="_blank">Disclaimer</a> |
                        <a href="http://www.ceda.ac.uk/privacy-and-cookies/" target="_blank">Privacy and
                            Cookies</a><br/>
                        <a href="http://www.ceda.ac.uk" target="_blank">CEDA</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
{% endblock footer %}

