{% extends 'fwtheme_django/layout.html' %}

{% load static %}
{#{% is_container_fluid as container_fluid %}#}

{% block head_title %}All Grants{% endblock %}

{% block stylesheets_pre_extra %}
    <link rel="shortcut icon" href="https://nerc.ukri.org/nerc/includes/themes/MasterSite/images/favicon.ico">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <link href="{% static "css/grants.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
{% endblock stylesheets_pre_extra %}


{% block head_js %}
    {{ block.super }}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
{% endblock head_js %}

{% block navbar_branding %}
    <a href="https://nerc.ukri.org/" class="navbar-brand">
        <img src="{% static 'images/UKRI_NER_Council-Logo_Horiz-RGB[W].png' %}" alt="NERC logo"
             style="width:210px;height:60px;">
    </a>
{% endblock %}

{% block navigation %}
    <div id="navbarResponsive" class="collapse navbar-collapse">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item dropdown">
                <div>
                    <a class="nav-link dropbtn" href="{% url 'grant_list' %}"> All Grants </a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropbtn">Grants
                    <i class="fa fa-caret-down"></i>
                </a>
                <div class="dropdown-content">
                    <a href="{% url 'grant_list' %}?datacentre=unassigned">Unassigned</a>
                    <a href="{% url 'grant_list' %}?datacentre=BODC">BODC</a>
                    <a href="{% url 'grant_list' %}?datacentre=CEDA">CEDA</a>
                    <a href="{% url 'grant_list' %}?datacentre=EIDC">EIDC</a>
                    <a href="{% url 'grant_list' %}?datacentre=NGDC">NGDC</a>
                    <a href="{% url 'grant_list' %}?datacentre=PDC">PDC</a>
                    <a href="{% url 'grant_list' %}?datacentre=ADS">ADS</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropbtn">Routing Classification
                    <i class="fa fa-caret-down"></i>
                </a>
                <div class="dropdown-content">
                    <a href="{% url 'routing_classification' %}?rc=none">None</a>
                    <a href="{% url 'routing_classification' %}?rc=Marine">Marine</a>
                    <a href="{% url 'routing_classification' %}?rc=Earth">Earth</a>
                    <a href="{% url 'routing_classification' %}?rc=Atmospheric">Atmospheric</a>
                    <a href="{% url 'routing_classification' %}?rc=Freshwater">Freshwater</a>
                    <a href="{% url 'routing_classification' %}?rc=Terrestrial">Terrestrial</a>
                </div>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropbtn" href="{% url 'grant_list' %}?datacentre={{ user.data_centre }}">My
                        Grants</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropbtn" href="{% url 'my_account' %}">My Account</a>
                </li>
            {% endif %}
        </ul>

    </div>
    <div>
        <ul class="navbar-nav">
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}"><i class='fa fa-user-alt'></i>&nbsp;Logout</a>
                </li>
            {% else %}
                <a class="nav-link" href="{% url 'login' %}"><i class='fa fa-user-alt'></i>&nbsp;Login</a>
            {% endif %}
        </ul>

    </div>
{% endblock navigation %}


{% block footer %}
    <footer>
        <div class="container">
            <div class="row d-flex justify-content-around border border-light border-bottom-0 border-left-0 border-right-0 pt-5 pb-2 mt-5">
                <div class="col-md-4">
                    <p class="text-center small">
                        Copyright © 2018 <a href="http://www.stfc.ac.uk">STFC</a>
                        All Rights Reserved<br>
                        <a href="http://www.ceda.ac.uk/accessibility" target="_blank">Accessibility</a> |
                        <a href="http://www.ceda.ac.uk/disclaimer" target="_blank">Disclaimer</a> |
                        <a href="http://www.ceda.ac.uk/privacy-and-cookies/" target="_blank">Privacy and
                            Cookies</a><br/>
                        <a href="http://www.ceda.ac.uk" target="_blank">CEDA</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
{% endblock footer %}

{% block tail_js_extra %}
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="{% static 'js/table_sorter.js' %}"></script>
{% endblock tail_js_extra %}

