{%  extends 'datamad2/base.html' %}
{% load staticfiles cookielaw_tags i18n fwtheme_tags %}
{% load routing_classification_icon %}
{% is_container_fluid as container_fluid %}
{% load crispy_forms_tags %}

{% block content %}

{% block page_special %}
{% endblock %}

{# To make content occupy full width, override the block page_container #}
{# with one of the same name which OMITS the div class=container tag #}

{% block page_container %}

    <div class="container{% if container_fluid %}-fluid{% endif %}">

    {% block content_main %}
        {% block content_header %}

            <div class="page-header" id="banner">
            <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2">
                {% block page_title %}
                    <div class="wrapper">
                        <!-- Sidebar -->
                        <nav id="sidebar">
                            <div class="sidebar-header">

                            </div>
                    </div>
                {% endblock %}
            </div>
            <div>
                    <form method = "post">{% csrf_token %}
                        <h4><label> Assign to a different data centre: </label></h4>
                        <p>{{ form | crispy}}</p>
                        <p><button type="submit" class="save btn btn-primary" id="claim">Save</button></p>
                    </form>
            </div>

        {% endblock content_header %}
    {% endblock content_main %}

</div>

{% endblock page_container %}
{%  endblock %}