{% extends 'datamad2/base.html' %}

{% block page_title %}
{% endblock page_title %}

{% block content_panel %}
    <div class="row">
        <div class="col-12">
            <h3>DMP version history: {{ grant.grant_ref }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">

            {% for document in grant.document_set.all %}
                {%  if document.type == 'dmp' %}
                <p>
                    <a href="{{ document.upload.url }}"> {{ document.title }} </a>
                    Uploaded on: {{ document.last_modified }}
                </p>
                {% endif %}
            {% endfor %}
        </div>

    </div>
{% endblock content_panel %}