{% extends 'datamad2/base.html' %}
{% load crispy_forms_tags %}


{% block content_panel %}
    {% include 'datamad2/includes/notifications.html' %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card card-shaded">
            <div class="card-body">
                <h4><label> Upload Document for {{ grant.grant_ref }}</label></h4>
                <p>{{ form | crispy }}</p>
                <p>
                    <button type="submit" class="save btn btn-primary" id="claim">Upload</button>
                </p>
            </div>
        </div>
    </form>

    <div class="d-flex justify-content-center">
        {% include 'datamad2/includes/document_naming_convention.html' %}
    </div>


{% endblock %}