{% extends 'datamad2/base.html' %}

{% block head_js %}
    {{ block.super }}
    <script type="text/javascript">!function(e,t,n){function a(){var e=t.getElementsByTagName("script")[0],n=t.createElement("script");n.type="text/javascript",n.async=!0,n.src="https://beacon-v2.helpscout.net",e.parentNode.insertBefore(n,e)}if(e.Beacon=n=function(t,n,a){e.Beacon.readyQueue.push({method:t,options:n,data:a})},n.readyQueue=[],"complete"===t.readyState)return a();e.attachEvent?e.attachEvent("onload",a):e.addEventListener("load",a,!1)}(window,document,window.Beacon||function(){});</script>
    <script type="text/javascript">window.Beacon('init', '76770ffa-e6c5-41ef-bef4-b34bba42b56d')</script>
    <script type="text/javascript">window.Beacon('open')</script>
    <script type="text/javascript">window.Beacon('navigate', '/ask/')</script>
{% endblock head_js %}

{% block breadcrumbs %}
{% endblock %}