{% extends 'datamad2/grant_detail.html' %}
{% load static %}
{% load claim_status %}
{% load see_more %}

{% block breadcrumb_items %}
    <li class="breadcrumb-item"><a href="{% url 'grant_list' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'grant_detail' grant.pk %}">{{ grant.grant_ref }}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'grant_history' grant.pk %}">Grant History</a></li>
    <li class="breadcrumb-item active">History Detail</li>
{% endblock breadcrumb_items %}

{% block content %}
    <div class="col">
        {% with things=imported_grant.get_diff_fields %}
            {% if 'creation_date' in things %}
                <div class="alert alert-info text-center" role="alert">
                    Fields that are text-dangered in red show changes made since the previous update of this grant.
                    Click <a href="{% url 'grant_history' pk=imported_grant.pk %}" class="alert-link">here</a> to return
                    to
                    list of changes.
                </div>
            {% else %}
                <div class="alert alert-secondary" role="alert">
                    This is the first uploaded version of this grant.
                </div>
            {% endif %}
            <div class="card card-shaded">
                <div class="card-body">

                    <table class="table-responsive" id="grant-info">
                        <tbody>
                        <tr>
                            {% if 'title' in things %}
                                <th class="text-danger" colspan="2"><h3>{{ imported_grant.title }} </h3></th>
                            {% else %}
                                <th colspan="2"><h3>{{ imported_grant.title }} </h3></th>
                            {% endif %}
                        </tr>
                        <tr>
                            {% if 'grant_ref' in things %}
                                <th class="text-danger">Grant Reference</th>
                                <td class="text-danger"> {{ imported_grant.grant_ref }} </td>
                            {% else %}
                                <th>Grant Reference</th>
                                <td> {{ imported_grant.grant_ref }} </td>
                            {% endif %}
                        </tr>

                        <tr>
                            {% if 'creation_date' in things %}
                                <th class="text-danger">Date Updated</th>
                                <td class="text-danger"> {{ imported_grant.creation_date|default_if_none:"N/A"|date:"d M Y" }} </td>
                            {% else %}
                                <th>Date Created</th>
                                <td> {{ imported_grant.creation_date|default_if_none:"N/A"|date:"d M Y" }} </td>
                            {% endif %}
                        </tr>
                        <tr>
                            {% if 'grant_status' in things %}
                                <th class="text-danger">Grant Status</th>
                                <td class="text-danger"> {{ imported_grant.grant_status|default_if_none:"N/A" }} </td>
                            {% else %}
                                <th>Grant Status</th>
                                <td> {{ imported_grant.grant_status|default_if_none:"N/A" }} </td>
                            {% endif %}
                        </tr>

                        <tr>
                            {% if 'routing_classification' in things %}
                                <th class="text-danger">Routing Classification</th>
                                <td class="text-danger"> {{ imported_grant.routing_classification }} </td>
                            {% else %}
                                <th>Routing Classification</th>
                                <td> {{ imported_grant.routing_classification }} </td>
                            {% endif %}
                        </tr>

                        <tr>
                            {% if 'secondary_classification' in things %}
                                <th class="text-danger">Secondary Classification</th>
                                <td class="text-danger"> {{ imported_grant.secondary_classification }} </td>
                            {% else %}
                                <th>Secondary Classification</th>
                                <td> {{ imported_grant.secondary_classification }} </td>
                            {% endif %}
                        </tr>

                        <tr>
                            {% if 'proposed_start_date' in things %}
                                <th class="text-danger">Proposed Start Date</th>
                                <td class="text-danger"> {{ imported_grant.proposed_start_date|default_if_none:"N/A"|date:"d M Y" }} </td>
                            {% else %}
                                <th>Proposed Start Date</th>
                                <td>{{ imported_grant.proposed_start_date|default_if_none:"N/A"|date:"d M Y" }} </td>
                            {% endif %}
                        </tr>

                        <tr>
                            {% if 'proposed_end_date' in things %}
                                <th class="text-danger">Proposed End Date</th>
                                <td class="text-danger"> {{ imported_grant.proposed_end_date|default_if_none:"N/A"|date:"d M Y" }} </td>
                            {% else %}
                                <th>Proposed End Date</th>
                                <td>{{ imported_grant.proposed_end_date|default_if_none:"N/A"|date:"d M Y" }} </td>
                            {% endif %}
                        </tr>

                        <tr>
                            {% if 'actual_start_date' in things %}
                                <th class="text-danger">Actual Start Date</th>
                                <td class="text-danger"> {{ imported_grant.actual_start_date|default_if_none:"N/A"|date:"d M Y" }} </td>
                            {% else %}
                                <th>Actual Start Date</th>
                                <td>{{ imported_grant.actual_start_date|default_if_none:"N/A"|date:"d M Y" }} </td>
                            {% endif %}
                        </tr>

                        <tr>
                            {% if 'actual_end_date' in things %}
                                <th class="text-danger">Actual End Date</th>
                                <td class="text-danger"> {{ imported_grant.actual_end_date|default_if_none:"N/A"|date:"d M Y" }} </td>
                            {% else %}
                                <th>Actual End Date</th>
                                <td>{{ imported_grant.actual_end_date|default_if_none:"N/A"|date:"d M Y" }} </td>
                            {% endif %}
                        </tr>

                        <tr>
                            {% if 'abstract' in things %}
                                <th class="text-danger">Abstract</th>
                            {% else %}
                                <th>Abstract</th>
                            {% endif %}

                        </tr>
                        <tr>
                            {% if 'abstract' in things %}
                                <td class="text-danger"
                                    colspan="2"> {{ imported_grant.abstract|read_more:50|default_if_none:"N/A" }} </td>
                            {% else %}
                                <td colspan="2">{{ imported_grant.abstract|read_more:50|default_if_none:"N/A" }} </td>
                            {% endif %}
                        </tr>

                        <tr>
                            {% if 'objectives' in things %}
                                <th class="text-danger">Objectives</th>
                            {% else %}
                                <th>Objectives</th>
                            {% endif %}
                        </tr>
                        <tr>
                            {% if 'objectives' in things %}
                                <td class="text-danger"
                                    colspan="2"> {{ imported_grant.objectives|read_more:50|default_if_none:"N/A" }} </td>
                            {% else %}
                                <td colspan="2">{{ imported_grant.objectives|read_more:50|default_if_none:"N/A" }} </td>
                            {% endif %}
                        </tr>

                        <tr>
                            {% if 'amount_awarded' in things %}
                                <th class="text-danger">Amount Awarded</th>
                                <td class="text-danger">
                                    £ {{ imported_grant.amount_awarded|default_if_none:"N/A" }} </td>
                            {% else %}
                                <th>Amount Awarded</th>
                                <td> £ {{ imported_grant.amount_awarded|default_if_none:"N/A" }} </td>
                            {% endif %}
                        </tr>

                        <tr>
                            {% if 'grant_type' in things %}
                                <th class="text-danger">Grant Type</th>
                                <td class="text-danger"> {{ imported_grant.grant_type|default_if_none:"N/A" }} </td>
                            {% else %}
                                <th>Grant Type</th>
                                <td> {{ imported_grant.grant_type|default_if_none:"N/A" }} </td>
                            {% endif %}
                        </tr>

                        <tr>
                            {% if 'scheme' in things %}
                                <th class="text-danger">Scheme</th>
                                <td class="text-danger"> {{ imported_grant.scheme|default_if_none:"N/A" }} </td>
                            {% else %}
                                <th>Scheme</th>
                                <td> {{ imported_grant.scheme|default_if_none:"N/A" }} </td>
                            {% endif %}
                        </tr>

                        <tr>
                            {% if 'lead_grant' in things %}
                                <th class="text-danger">Lead Grant</th>
                                <td class="text-danger"> {{ imported_grant.lead_grant|yesno:"Yes, No, N/A" }} </td>
                            {% else %}
                                <th>Lead Grant</th>
                                <td> {{ imported_grant.lead_grant|yesno:"Yes, No, N/A" }} </td>
                            {% endif %}
                        </tr>

                        <tr>
                            {% if 'parent_grant' in things %}
                                <th class="text-danger">Parent Grant</th>
                                <td class="text-danger"> {{ imported_grant.parent_grant|default_if_none:"N/A" }} </td>
                            {% else %}
                                <th>Parent Grant</th>
                                <td> {{ imported_grant.parent_grant|default_if_none:"N/A" }} </td>
                            {% endif %}
                        </tr>

                        <tr>
                            {% if 'grant_holder' in things %}
                                <th class="text-danger">Grant Holder</th>
                                <td class="text-danger"> {{ imported_grant.grant_holder|default_if_none:"N/A" }} </td>
                            {% else %}
                                <th>Grant Holder</th>
                                <td> {{ imported_grant.grant_holder|default_if_none:"N/A" }} </td>
                            {% endif %}
                        </tr>

                        <tr>
                            {% if 'department' in things %}
                                <th class="text-danger">Department</th>
                                <td class="text-danger"> {{ imported_grant.department|default_if_none:"N/A" }} </td>
                            {% else %}
                                <th>Department</th>
                                <td> {{ imported_grant.department|default_if_none:"N/A" }} </td>
                            {% endif %}
                        </tr>

                        <tr>
                            {% if 'research_organisation' in things %}
                                <th class="text-danger">Research Organisation</th>
                                <td class="text-danger"> {{ imported_grant.research_org|default_if_none:"N/A" }} </td>
                            {% else %}
                                <th>Research Organisation</th>
                                <td>{{ imported_grant.research_org|default_if_none:"N/A" }} </td>
                            {% endif %}
                        </tr>

                        <tr>
                            {% if 'address1' in things %}
                                <th class="text-danger">Address</th>
                                <td class="text-danger"> {{ imported_grant.address1|default_if_none:"N/A" }} </td>
                            {% else %}
                                <th>Address</th>
                                <td>{{ imported_grant.address1|default_if_none:"N/A" }} </td>
                            {% endif %}
                        </tr>

                        <tr>
                            {% if 'address2' in things %}
                                <th class="text-danger">Address Line 2</th>
                                <td class="text-danger"> {{ imported_grant.address2|default_if_none:"N/A" }} </td>
                            {% else %}
                                <th>Address Line 2</th>
                                <td>{{ imported_grant.address2|default_if_none:"N/A" }} </td>
                            {% endif %}
                        </tr>

                        <tr>
                            {% if 'city' in things %}
                                <th class="text-danger">City</th>
                                <td class="text-danger"> {{ imported_grant.city|default_if_none:"N/A" }} </td>
                            {% else %}
                                <th>City</th>
                                <td>{{ imported_grant.city|default_if_none:"N/A" }} </td>
                            {% endif %}
                        </tr>

                        <tr>
                            {% if 'post_code' in things %}
                                <th class="text-danger">Post Code</th>
                                <td class="text-danger"> {{ imported_grant.post_code|default_if_none:"N/A" }} </td>
                            {% else %}
                                <th>Post Code</th>
                                <td>{{ imported_grant.post_code|default_if_none:"N/A" }} </td>
                            {% endif %}
                        </tr>

                        <tr>
                            {% if 'email' in things %}
                                <th class="text-danger">Email</th>
                                <td class="text-danger"> {{ imported_grant.email|default_if_none:"N/A" }} </td>
                            {% else %}
                                <th>Email</th>
                                <td>{{ imported_grant.email|default_if_none:"N/A" }} </td>
                            {% endif %}
                        </tr>

                        <tr>
                            {% if 'work_number' in things %}
                                <th class="text-danger">Work Number</th>
                                <td class="text-danger"> {{ imported_grant.work_number|default_if_none:"N/A" }} </td>
                            {% else %}
                                <th>Work Number</th>
                                <td>{{ imported_grant.work_number|default_if_none:"N/A" }} </td>
                            {% endif %}
                        </tr>

                        <tr>
                            {% if 'data_contact' in things %}
                                <th class="text-danger">Data Contact</th>
                                <td class="text-danger"> {{ imported_grant.data_contact|default_if_none:"N/A" }} </td>
                            {% else %}
                                <th>Data Contact</th>
                                <td>{{ imported_grant.data_contact|default_if_none:"N/A" }} </td>
                            {% endif %}
                        </tr>

                        <tr>
                            {% if 'data_contact_email' in things %}
                                <th class="text-danger">Data Contact Email</th>
                                <td class="text-danger"> {{ imported_grant.data_contact_email|default_if_none:"N/A" }} </td>
                            {% else %}
                                <th>Data Contact Email</th>
                                <td>{{ imported_grant.data_contact_email|default_if_none:"N/A" }} </td>
                            {% endif %}
                        </tr>

                        <tr>
                            {% if 'data_contact_phone' in things %}
                                <th class="text-danger">Data Contact Phone Number</th>
                                <td class="text-danger"> {{ imported_grant.data_contact_phone|default_if_none:"N/A" }} </td>
                            {% else %}
                                <th>Data Contact Phone Number</th>
                                <td>{{ imported_grant.data_contact_phone|default_if_none:"N/A" }} </td>
                            {% endif %}
                        </tr>

                        <tr>
                            {% if 'science_area' in things %}
                                <th class="text-danger">Science Area</th>
                                <td class="text-danger"> {{ imported_grant.science_area }} </td>
                            {% else %}
                                <th>Science Area</th>
                                <td>{{ imported_grant.science_area }} </td>
                            {% endif %}
                        </tr>

                        <tr>
                            {% if 'ncas' in things %}
                                <th class="text-danger">NCAS</th>
                                <td class="text-danger"> {{ imported_grant.ncas|yesno:"Yes, No, N/A" }} </td>
                            {% else %}
                                <th>NCAS</th>
                                <td>{{ imported_grant.ncas|yesno:"Yes, No, N/A" }} </td>
                            {% endif %}
                        </tr>

                        <tr>
                            {% if 'nceo' in things %}
                                <th class="text-danger">NCEO</th>
                                <td class="text-danger"> {{ imported_grant.nceo|yesno:"Yes, No, N/A" }} </td>
                            {% else %}
                                <th>NCEO</th>
                                <td>{{ imported_grant.nceo|yesno:"Yes, No, N/A" }} </td>
                            {% endif %}
                        </tr>

                        <tr>
                            {% if 'comments' in things %}
                                <th class="text-danger">Comments</th>
                                <td class="text-danger"> {{ imported_grant.comments|default_if_none:"N/A" }} </td>
                            {% else %}
                                <th>Comments</th>
                                <td>{{ imported_grant.comments|default_if_none:"N/A" }} </td>
                            {% endif %}
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        {% endwith %}
    </div>
{% endblock content %}

{% block rightsidebar %}{% endblock %}

{% block tail_js_extra %}
    <script type="text/javascript" src="{% static 'js/claim_button.js' %}?version=1.0"></script>
    <script type="text/javascript" src="{% static 'js/see_more.js' %}?version=1.0"></script>
{% endblock tail_js_extra %}
