{% extends 'datamad2/base.html' %}
{% load static see_more claim_status %}

{% block breadcrumb_items %}
    <li class="breadcrumb-item"><a href="{% url 'grant_list' %}">Home</a></li>
    <li class="breadcrumb-item active">{{ imported_grant.grant_ref }}</li>
{% endblock breadcrumb_items %}


{% block content %}
    {% if imported_grant.grant.updated_imported_grant == True %}
        <div class="alert alert-secondary mt-3 ml-3 mr-3 w-100 text-center" role="alert">
            Some details of this grant have been changed since the original proposal. Click <a
                href="{% url 'grant_history' pk=imported_grant.grant.pk %}" class="alert-link">here</a> to view the
            history.
        </div>
    {% endif %}
    <div class="col">
        <div class="card card-shaded">
            <div class="card-body">
                <table class="table-responsive" id="grant-info">

                    <tr>
                        <th colspan="2"><h3>{{ imported_grant.title }} </h3></th>
                    </tr>
                    <tr>
                        <th>Grant Reference</th>
                        <td> {{ imported_grant.grant_ref }} </td>
                    </tr>
                    <tr>
                        <th>Date Added</th>
                        <td>{{ imported_grant.grant.date_added|default_if_none:"N/A"|date:"d M Y" }} </td>
                    </tr>
                    <tr>
                        <th>Last Updated</th>
                        <td>{{ imported_grant.creation_date|default_if_none:"N/A"|date:"d M Y" }} </td>
                    </tr>
                    <tr>
                        <th>Grant Status</th>
                        <td>{{ imported_grant.grant_status|default_if_none:"N/A" }} </td>
                    </tr>
                    <tr>
                        <th>Assigned Data Centre</th>
                        <td>{{ imported_grant.grant.assigned_data_centre|default_if_none:"N/A" }} </td>
                    </tr>
                    <tr>
                        <th>Routing Classification</th>
                        <td> {{ imported_grant.routing_classification }} </td>
                    </tr>
                    <tr>
                        <th>Secondary Classification</th>
                        <td>{{ imported_grant.secondary_classification }} </td>
                    </tr>
                    <tr>
                        <th>Science Area</th>
                        <td class="column-id">{{ imported_grant.science_area }}</td>
                    </tr>
                    <tr>
                        <th>Proposed Start Date</th>
                        <td>{{ imported_grant.proposed_start_date|default_if_none:"N/A"|date:"d M Y" }} </td>
                    </tr>
                    <tr>
                        <th>Proposed End Date</th>
                        <td>{{ imported_grant.proposed_end_date|default_if_none:"N/A"|date:"d M Y" }} </td>
                    </tr>
                    <tr>
                        <th>Actual Start Date</th>
                        <td>{{ imported_grant.actual_start_date|default_if_none:"N/A"|date:"d M Y" }} </td>
                    </tr>
                    <tr>
                        <th>Actual End Date</th>
                        <td>{{ imported_grant.actual_end_date|default_if_none:"N/A"|date:"d M Y" }} </td>
                    </tr>
                    <tr>
                        <th>Abstract</th>
                    </tr>
                    <tr>
                        <td colspan="2">{{ imported_grant.abstract|read_more:50|default_if_none:"N/A" }}</td>
                    </tr>
                    <tr>
                        <th>Objectives</th>
                    </tr>
                    <tr>
                        <td colspan="2">{{ imported_grant.objectives|read_more:50|default_if_none:"N/A" }}</td>
                    </tr>
                    <tr>
                        <th>Amount Awarded</th>
                        <td> £ {{ imported_grant.amount_awarded|default_if_none:"N/A" }} </td>
                    </tr>
                    <tr>
                        <th>Grant Type</th>
                        <td>{{ imported_grant.grant_type|default_if_none:"N/A" }} </td>
                    </tr>
                    <tr>
                        <th>Scheme</th>
                        <td>{{ imported_grant.scheme|default_if_none:"N/A" }} </td>
                    </tr>
                    <tr>
                        <th>Call</th>
                        <td>{{ imported_grant.call|default_if_none:"N/A" }} </td>
                    </tr>
                    <tr>
                        <th>Overall Score</th>
                        <td>{{ imported_grant.overall_score }} </td>
                    </tr>
                    <tr>
                        <th>Facility</th>
                        <td>{{ imported_grant.facility|default_if_none:"N/A" }} </td>
                    </tr>
                    <tr>
                        <th>Lead Grant</th>
                        <td>{{ imported_grant.lead_grant|yesno:"Yes, No, N/A" }} </td>
                    </tr>
                    <tr>
                        <th>Parent Grant</th>
                        {% if imported_grant.grant.parent_grant %}
                            <td>
                                <a href="{% url 'grant_detail' pk=imported_grant.grant.parent_grant.pk %}">{{ imported_grant.grant.parent_grant }} </a>
                            </td>
                        {% else %}
                            <td> None</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <th>Child Grants</th>
                        {% if imported_grant.grant.child_grant.get_queryset %}
                            <td>
                                {% for child in imported_grant.grant.child_grant.get_queryset %}
                                    <a href="{% url 'grant_detail' pk=child.pk %}">{{ child.grant_ref }} &nbsp</a>
                                {% endfor %}
                            </td>
                        {% else %}
                            <td> None</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <th>Grant Holder</th>
                        <td>{{ imported_grant.grant_holder|default_if_none:"N/A" }} </td>
                    </tr>
                    <tr>
                        <th>Department</th>
                        <td>{{ imported_grant.department|default_if_none:"N/A" }} </td>
                    </tr>
                    <tr>
                        <th>Research Organisation</th>
                        <td>{{ imported_grant.research_org|default_if_none:"N/A" }} </td>
                    </tr>
                    <tr>
                        <th>Address</th>
                        <td>{{ imported_grant.address1|default_if_none:"N/A" }} </td>
                    </tr>
                    <tr>
                        <th>Address line 2</th>
                        <td>{{ imported_grant.address2|default_if_none:"N/A" }} </td>
                    </tr>
                    <tr>
                        <th>City</th>
                        <td>{{ imported_grant.city|default_if_none:"N/A" }} </td>
                    </tr>
                    <tr>
                        <th>Post Code</th>
                        <td>{{ imported_grant.post_code|default_if_none:"N/A" }} </td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{ imported_grant.email|default_if_none:"N/A" }} </td>
                    </tr>
                    <tr>
                        <th>Work number</th>
                        <td>{{ imported_grant.work_number|default_if_none:"N/A" }} </td>
                    </tr>
                    <tr>
                        <th>Data Contact</th>
                        <td>{{ imported_grant.data_contact|default_if_none:"N/A" }} </td>
                    </tr>
                    <tr>
                        <th>Data Contact Email</th>
                        <td>{{ imported_grant.data_contact_email|default_if_none:"N/A" }} </td>
                    </tr>
                    <tr>
                        <th>Data Contact Phone Number</th>
                        <td>{{ imported_grant.data_contact_phone|default_if_none:"N/A" }} </td>
                    </tr>
                    <tr>
                        <th>NCAS</th>
                        <td>{{ imported_grant.ncas|yesno:"Yes, No, N/A" }} </td>
                    </tr>
                    <tr>
                        <th>NCEO</th>
                        <td>{{ imported_grant.nceo|yesno:"Yes, No, N/A" }} </td>
                    </tr>
                    <tr>
                        <th>Comments</th>
                        <td>{{ imported_grant.comments|default_if_none:"N/A" }} </td>
                    </tr>
                </table>
            </div>
        </div>


        <div class="card card-shaded" id="editable-info">
            <div class="card-body">
                <table class="table-responsive" id="grant-info">
                    <tr>
                        <td colspan="2">
                            <h3> Editable Grant Information
                                <a title='Edit' data-toggle='tooltip'
                                   href="{% url 'grantinfo_edit' pk=imported_grant.grant.pk %}">
                                    <i class="far fa-edit"></i>
                                </a>
                            </h3>
                        </td>
                    </tr>
                    <tr>
                        <th>Alternative data contact</th>
                        <td>{{ imported_grant.grant.alt_data_contact|default_if_none:"N/A" }} </td>
                    </tr>
                    <tr>
                        <th>Alternative data contact email address</th>
                        <td>{{ imported_grant.grant.alt_data_contact_email|default_if_none:"N/A" }} </td>
                    </tr>
                    <tr>
                        <th>Alternative data contact phone number</th>
                        <td>{{ imported_grant.grant.alt_data_contact_phone|default_if_none:"N/A" }} </td>
                    </tr>
                    <tr>
                        <th>Other data centre</th>
                        <td>{{ imported_grant.grant.other_data_centre.name|default_if_none:"N/A" }} </td>
                    </tr>
                    <tr>
                        <th>Date contacted PI</th>
                        <td>{{ imported_grant.grant.date_contacted_pi|date:"d M Y"|default_if_none:"N/A" }} </td>
                    </tr>
                    <tr>
                    <tr>
                        <th>Will the grant produce data?</th>
                        <td>{{ imported_grant.grant.will_grant_produce_data|yesno:"Yes, No, N/A" }} </td>
                    </tr>
                    <tr>
                        <th>Data delivered?</th>
                        <td>{{ imported_grant.grant.datasets_delivered|yesno:"Yes, No, N/A" }} </td>
                    </tr>
                    <tr>
                        <th>Sanctions recommended?</th>
                        <td>{{ imported_grant.grant.sanctions_recommended|yesno:"Yes, No, N/A" }} </td>
                    </tr>
                    <tr>
                        <th>DMP Agreed</th>
                        <td>
                            {% if imported_grant.grant.dmp_agreed %}
                                {% with doc=imported_grant.grant.document_set.all.first %}
                                    {{ doc.last_modified| date:"dS M Y" }}
                                    <br>
                                    <a href="{{ doc.upload.url }}"
                                       download="{{ doc.download_title }}"> {{ doc.title }} </a>
                                {% endwith %}
                            {% else %}
                                {{ imported_grant.grant.dmp_agreed|yesno:"Yes, No, N/A" }}
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>



{% endblock content %}

{% block rightsidebar %}
    <div class="col-lg-4">
        <div class="mt-3">
            {% include "datamad2/includes/search_form.html" %}
        </div>
        <div class="card mt-3">
            <div class="card-header">
                <h4 class="card-title">Quick Links</h4>
            </div>
            <div class="list-group">
                <a class="list-group-item" href="#editable-info">Editable Grant Info</a>
                <a class="list-group-item" href="{% url 'dataproduct_view' imported_grant.grant.pk %}">Data Products
                    <span class="badge badge-secondary">{{ imported_grant.grant.dataproduct_set.count }}</span></a>
            </div>
        </div>
        <div class="card mt-3">
            <div class="card-header">
                <h4 class="card-title">Grant Actions</h4>
            </div>
            <div class="list-group">
                <a class="list-group-item claim-btn {% if imported_grant.grant.claimed %}claimed{% endif %}"
                   href="#"
                   data-id="{{ imported_grant.grant.pk }}"
                   data-dc="{{ request.user.data_centre.id }}">{{ imported_grant.grant.claimed | claim_status | title }}</a>
                <a class="list-group-item" href="{% url 'change_claim' pk=imported_grant.grant.pk %}">Reassign</a>
                <a class="list-group-item"
                   href="{% url 'grant_generate_document_select' imported_grant.grant.pk %}">Generate Document from
                    Template</a>
            </div>
        </div>
        <div class="card mt-3">
            <div class="card-header">
                <h4 class="card-title">JIRA Ticket Links</h4>
            </div>
            <div class="card-body">
                <table class="table table-borderless">
                    {% for ticket in imported_grant.grant.jiraticket_set.all %}
                        <tr>
                            <td>
                                <a href="{{ ticket.url }}"><i
                                        class="fas fa-flag"></i> {{ ticket.datacentre }}</a>
                            </td>
                            {% if user.is_admin and user.data_centre == ticket.datacentre %}
                            <td class="text-right">
                                <a title='Remove JIRA Link' data-toggle='tooltip'
                                   href="{% url 'jiraticket_delete' pk=imported_grant.grant.pk jt_pk=ticket.pk %}">
                                    &nbsp;<i class="fa fa-unlink text-danger"></i>
                                </a>
                            </td>
                            {% endif %}
                        </tr>

                    {% endfor %}
                </table>
                <a class="btn btn-primary w-100" title='Create JIRA ticket for your datacentre' data-toggle='tooltip'
                   href="{% url 'jira_convert' pk=imported_grant.grant.pk %}">
                    <i class="fas fa-plus"></i> Create JIRA Ticket</a>
            </div>
        </div>
        <div class="card mt-3">
            <div class="card-header">
                <h4 class="card-title">Supporting Documents</h4>
            </div>
            <div class="card-body">
                <h5>General Supporting Documents</h5>
                {% with doc_list=supporting_docs %}
                    {% include 'datamad2/includes/document_list.html' %}
                {% endwith %}
                <hr>
                <h5>DMPs</h5>
                {% with doc_list=dmp_docs %}
                    {% include 'datamad2/includes/document_list.html' %}
                {% endwith %}
                <br>
                <a class="btn btn-primary w-100" title='Upload' data-toggle='tooltip'
                   href="{% url 'document_upload' pk=imported_grant.grant.pk %}">
                    <i class="fas fa-plus"></i> Add document</a>
            </div>

        </div>
    </div>
{% endblock rightsidebar %}



{% block tail_js_extra %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/get_cookie.js' %}?version=1.0"></script>
    <script type="text/javascript" src="{% static 'js/claim_button.js' %}?version=1.2"></script>
    <script type="text/javascript" src="{% static 'js/see_more.js' %}?version=1.0"></script>
{% endblock tail_js_extra %}

