{% extends 'datamad2/base.html' %}
{% load static %}


{% block page_title %}
{% endblock page_title %}

{% block filter_title %}
    <h4>Datacentre</h4>
{% endblock filter_title %}

{% block sidebar_items %}
    {% include 'datamad2/includes/data_centre_sidebar_items.html' %}
{% endblock sidebar_items %}

{% block content %}
    {% include 'datamad2/includes/grant_table.html' %}
{% endblock content %}

{% block tail_js_extra %}
    {{ block.super }}
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="{% static 'js/table_sorter.js' %}"></script>
{% endblock tail_js_extra %}

