{% extends 'datamad2/base.html' %}

{% block content_panel %}
    <div class="row">
        <div class="col-12">
            <h3>Grant History: {{ grant.grant_ref }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                <th>Date</th>
                <th>Fields Changed</th>
                </thead>
                {% for imported_grant in grant.importedgrant_set.all %}
                    <tr>
                        <td>
                            <a href="{% url 'grant_history_detail' pk=grant.pk imported_pk=imported_grant.pk %}"> {{ imported_grant.creation_date }}</a>
                        </td>
                        <td>
                            {% for field in imported_grant.get_diff_fields %}
                                <li>{{ field }}</li>
                            {% endfor %}
                        </td>
                    </tr>
                    <p>

                    </p>
                {% endfor %}
            </table>
        </div>

    </div>
{% endblock content_panel %}
