{% extends 'datamad2/base.html' %}
{% load static %}

{% block page_title %}
{% endblock page_title %}

{% block filter_title %}
    <h4>Data Centre</h4>
{% endblock filter_title %}

{% block sidebar_items %}
    {% include 'datamad2/includes/data_centre_sidebar_items.html' %}
{% endblock sidebar_items %}

{% block content %}
    {% include 'datamad2/includes/grant_table.html' %}
{% endblock content %}

{% block tail_js_extra %}
    {{ block.super }}
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="{% static 'js/table_sorter.js' %}"></script>
    <script>
    $( ".claim-btn" ).click(function(){
        let btn = $(this);
        let url = 'grant/' + $(this).attr('data-id') + '/claim';
        let cell = btn.parent();
        let data_centre = cell.parent()[0].cells[2];
        console.log(data_centre)
        $.ajax({
            type: "GET",
            url: url,

            // handle a successful response
            success: function () {
                cell.html("CLAIMED");
                cell.attr('id', 'claim');
                data_centre.innerHTML = "{{ user.data_centre }}"
                console.log(cell.parent())
            },
            // handle a non-successful response
            error: function () {
                alert('Claim failed');
            }
        });
    });

</script>
{% endblock tail_js_extra %}

