{%  extends 'datamad2/base.html' %}
{% load staticfiles cookielaw_tags i18n fwtheme_tags %}
{% load routing_classification_icon %}
{% is_container_fluid as container_fluid %}

{% block content %}

{% block page_special %}
{% endblock %}

{# To make content occupy full width, override the block page_container #}
{# with one of the same name which OMITS the div class=container tag #}

{% block page_container %}

    <div class="container{% if container_fluid %}-fluid{% endif %}">

    {% block content_main %}
        {% block content_header %}

            <div class="page-header" id="banner">
            <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2">
                {% block page_title %}
                    <div class="wrapper">
                        <!-- Sidebar -->
                        <nav id="sidebar">
                            <div class="sidebar-header">
                                <h3>DataMAD</h3>
                            </div>
                            <ul class="list-unstyled components">
                                <h4>Routing Classification</h4>
                                <li>
                                    <a href="{% url 'routing_classification' %}?rc=none">None</a>
                                </li>
                                <li>
                                    <a href="{% url 'routing_classification' %}?rc=Marine">Marine</a>
                                </li>
                                <li>
                                    <a href="{% url 'routing_classification' %}?rc=Earth">Earth</a>
                                </li>
                                <li>
                                    <a href="{% url 'routing_classification' %}?rc=Atmospheric">Atmospheric</a>
                                </li>
                                <li>
                                    <a href="{% url 'routing_classification' %}?rc=Freshwater">Freshwater</a>
                                </li>
                                <li>
                                    <a href="{% url 'routing_classification' %}?rc=Terrestrial">Terrestrial</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                {% endblock %}
            </div>
            <div class="col">
                <table class="row-border" id="grants" style="width:100%">
                    <thead>
                    <tr>
                        <th>Grant Reference</th>
                        <th>Title</th>
                        <th>Assigned Data Centre</th>
                        <th>Other Data Centre </th>
                        <th>Routing Classification</th>
                        <th>Date Added</th>
                        <th>Claim Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for grant in grants %}
                        {%  with imported_grant=grant.importedgrant_set.first %}
                        <tr>
                            <td>
                                <a href="{% url 'grant_detail' pk=imported_grant.pk %}">
                                {{ imported_grant.grant_ref }}
                                </a>
                            </td>
                            <td> {{ imported_grant.title }}</td>
                            {%  if imported_grant.grant.assigned_data_centre %}
                                <td> {{ imported_grant.grant.assigned_data_centre }}</td>
                            {%  else  %}
                                <td> Unassigned </td>
                            {%  endif %}
                            {%  if imported_grant.grant.other_data_centre %}
                                <td> {{ imported_grant.grant.other_data_centre }}</td>
                            {%  else  %}
                                <td> Unassigned </td>
                            {%  endif %}
                            <td> <i class="icon"> {{ imported_grant.routing_classification|icon }} </i></td>
                            <td> {{ imported_grant.creation_date }}</td>
                            {%  if imported_grant.grant.claim_status %}
                                <td id="claim">CLAIMED </td>
                            {% else %}
                                <td><a href="{% url 'claim' pk=imported_grant.grant.pk %}"><button class="btn btn-primary" id="claim"> CLAIM</button></a></td>
                            {%  endif %}

                        </tr>
                        {%  endwith %}
                    {%  endfor %}
                    </tbody>
                </table>
            </div>

        {% endblock content_header %}
    {% endblock content_main %}

</div>

{% endblock page_container %}
{% endblock %}