{% load staticfiles cookielaw_tags i18n fwtheme_tags %}
{% is_container_fluid as container_fluid %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block head_title %}Login{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    {% block blog_feeds %}
    {% endblock %}

    {% block stylesheets %}
        <link rel="shortcut icon" href="http://www.ceda.ac.uk/static/img/favicon.ico"/>
        <!-- Bootstrap Core
        CSS -->
        <link rel="stylesheet" href="https://artefacts.ceda.ac.uk/themes/orgtheme_ceda_serv/0.2/4/flatly/bootstrap.css" media="screen">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="https://artefacts.ceda.ac.uk/themes/orgtheme_ceda_serv/0.2/_assets/css/custom.min.css">
        <link rel="stylesheet" href="https://artefacts.ceda.ac.uk/themes/orgtheme_ceda_serv/0.2/_assets/css/org-custom.css">
        <link href="{% static "css/grants.css" %}" rel="stylesheet">
        <!-- Custom Fonts -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/v4-shims.css">

        {# most further customisations can go here, after org theme styling #}
        {% block stylesheets_extra %}{% endblock %}

    {% endblock stylesheets %}

    {% block page_container %}

        <div class="login-box">

        {% block content_main %}

            {% if form.errors %}
                <p>Your username and password didn't match. Please try again.</p>
            {% endif %}

            {% if next %}
{#                {% if user.is_authenticated %}#}
{#                    <p>Your account doesn't have access to this page. To proceed,#}
{#                        please login with an account that has access.</p>#}
{#                {% else %}#}
                    <p>Please login to see this page.</p>
{#                {% endif %}#}
            {% endif %}

            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <table>

                    <tr>
                        <td>{{ form.username.label_tag }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.username }}</td>
                    </tr>

                    <tr>
                        <td class = "box">{{ form.password.label_tag }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.password }}</td>
                    </tr>
                </table>

                <button class="submit"> Login </button>
                <input type="hidden" name="next" value="{{ next }}" />
            </form>

            {# Assumes you setup the password_reset view in your URLconf #}
            <p><a href="{% url 'password_reset' %}">Forgotten password?</a></p>

    {% endblock content_main %}

    </div>

{% endblock page_container %}