{% extends 'datamad2/base.html' %}
{% load crispy_forms_tags %}

{% block content_panel %}
    <div class="row">
        <div class="col">
            <table class="row-border" id="grants" style="width:100%">
                <tr>
                    <th><h4>Account Details </h4></th>
                </tr>
                <tr>
                    <th>First Name</th>
                    <td>{{ user.first_name }} </td>
                </tr>
                <tr>
                    <th>Surname</th>
                    <td>{{ user.last_name }} </td>
                </tr>
                <tr>
                    <th>Email Address</th>
                    <td>{{ user.get_username }}</td>
                </tr>
                <tr>
                    <th>Data Centre</th>
                    <td>{{ user.data_centre.name }} </td>
                </tr>
                <tr>
                    <th></th>
                    <td>
                        <a href="{% url 'logout' %}">
                            <button class="btn btn-primary" id="claim"> Logout</button>
                        </a>
                        <a href="{% url 'password_reset' %}">
                            <button class="btn btn-primary" id="claim"> Change Password</button>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <h4>Preferred Filters</h4>
            <p>Select your preferred filters to show with the grant lists. Click and drag to reorder preference.</p>
            <p>All filters will be available but non-preferred filters will be hidden unless requested</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% crispy form %}
        </div>
    </div>
{% endblock content_panel %}