{%  extends 'datamad2/base.html' %}
{% load staticfiles cookielaw_tags i18n fwtheme_tags %}
{% load routing_classification_icon %}
{% is_container_fluid as container_fluid %}

{% block content %}

{% block page_special %}
{% endblock %}

{# To make content occupy full width, override the block page_container #}
{# with one of the same name which OMITS the div class=container tag #}

{% block page_container %}

    <div class="container{% if container_fluid %}-fluid{% endif %}">

    {% block content_main %}
            <div class="col">
            <table class="row-border" id="grants" style="width:100%">
            <tr>
                <th> <h4>Account Details </h4></th>
            </tr>
            <tr>
                <th>First Name</th>
                <td>{{ user.first_name }} </td>
            </tr>
            <tr>
                <th>Surname</th>
                <td>{{ user.last_name }} </td>
            </tr>
            <tr>
                <th>Email Address</th>
                <td>{{ user.get_username }}</td>
            </tr>
            <tr>
                <th>Data Centre</th>
                <td>{{ user.data_centre }} </td>
            </tr>
            <tr>
                <th></th>
                <td><a href="{% url 'logout'%}"> <button class="btn btn-primary" id="claim"> Logout </button> </a> </td>
            </tr>
    </table>

    {% endblock content_main %}

</div>

{% endblock page_container %}
{% endblock %}