{%  extends 'datamad2/base.html' %}
{% load staticfiles cookielaw_tags i18n fwtheme_tags %}
{% is_container_fluid as container_fluid %}

{% block navbar_main %}
{%  endblock navbar_main %}

{%  block content %}
    {% block page_container %}
        <h1 id="site-name" >Reset Password</h1>
        <p id="site-name" >Enter your email address below, and we'll email instructions for setting a new one.</p>
        <div class="login-box">

{% block content_main %}
  <form action="" method="post">
  {% csrf_token %}
  {% if form.email.errors %}
    {{ form.email.errors }}
  {% endif %}
      <p> Email Address: </p>
      <p>{{ form.email }}</p>
    <button class="submit"> Send Instructions </button>
    <input type="hidden"/>
  </form>
{% endblock content_main %}

{% endblock page_container %}
{% endblock  %}

{% block footer %}
{% endblock footer %}