{%  extends 'datamad2/base.html' %}
{% load staticfiles cookielaw_tags i18n fwtheme_tags %}
{% is_container_fluid as container_fluid %}

{% block navbar_main %}
{%  endblock navbar_main %}

{%  block content %}
    {% block page_container %}
        <h1 id="site-name" >Password reset complete</h1>
        <div class="login-box">

{% block content_main %}

<p>Your new password has been set. You can now log in on the <a href="{% url 'login' %}">log in page</a>.</p>
{% endblock content_main %}

{% endblock page_container %}
{% endblock  %}

{% block footer %}
{% endblock footer %}
