{% extends 'datamad2/base.html' %}

{% block breadcrumbs %}
{% endblock breadcrumbs %}

{% block content_panel %}
    <h1 class="text-center">Reset Password</h1>
    <p class="text-center">Enter your email address below, and we'll email instructions for setting a new one.</p>

    <div class="login-box">

        <form action="" method="post">
            {% csrf_token %}
            {% if form.email.errors %}
                {{ form.email.errors }}
            {% endif %}
            <p><input class="form-control" type="email" name="email" maxlength="254" required="" id="id_email" placeholder="Enter email"></p>
            <button class="btn btn-primary w-100"> Send Instructions</button>
            <input type="hidden"/>
        </form>
    </div>
{% endblock content_panel %}
